@import url('https://fonts.googleapis.com/css2?family=Jacquard+24+Charted&family=Seaweed+Script&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #503ade;
    --secondary-color: #5e44d1;
    --accent1-color: #28184d;
    --accent2-color: #a27490;


    --heading-font: 'Seaweed', serif;
    --paragraph-font: 'Ubuntu', serif;

    --nav-background-color: #CFBCFA;
    --nav-link-color: #503ade;
    --nav-hover-link-color: #a27490;
    --nav-hover-background-color: #5e44d1;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    background-color: aqua;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}   

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}