body {
    font-family: "Roboto", sans-serif;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

.logo {
    height: 100px;
    width: 80px;
    padding: 1rem;
    border: 1 red solid;
}

h1 {
    color: darkblue;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Jost", sans-serif;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid #000000;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: rgb(43, 57, 71);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 3px;
    border-top: 1px solid #001;
    text-align: center;

}